@media only screen and (min-width: 80em) {
 body {
  background-color: lightblue;
 }
}

@media only screen and (max-width: 1280px) {
 body {
  background-color: lightblue;
 }
}

@media only screen and (max-width: 960px) {
 body {
  background-color: lightblue;
 }
}

@media only screen and (max-width: 640px) {
 body {
  background-color: lightblue;
 }
}

@media only screen and (max-width: 320px) {
 body {
  background-color: yellow;
 }
}